<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leaderboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leaderboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row style="border-bottom: groove;">
    <ion-col col-4>
      <ion-label><b>Ranking</b></ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><b>Player</b></ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><b>Points</b></ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
    <ion-col col-4>
      <ion-label >Ranking</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >Player</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >Points</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
