<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Game?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Game?</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngIf="!submitted">
    <ion-button color="primary" (click)="finish()">Finish</ion-button>
  </ion-item>
  <ion-row *ngIf="submitted">
    <ion-item>
      <p>Waiting for other players</p>
      <p>Your result was : {{result}}</p>
    </ion-item>
  </ion-row>
</ion-content>