<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ticket: {{ticket.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ticket: {{ticket.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/500px-QR_code_for_mobile_English_Wikipedia.svg.png" />


<a routerLink="/tabs/tickets">Back</a>
</ion-content>
