<ion-header>
  <ion-row>
    <ion-col col-10>
      <ion-title class="item-text-center">
        Login
      </ion-title>
    </ion-col>
      <ion-col col-2>
        <ion-img style="max-height:150px;overflow:hidden;" src="https://cdn.estore.nu/48872-large_default/nerf-fortnite-microshots---micro-battle-bus.jpg"></ion-img>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <form [formGroup]="formlogin">
  <ion-label>Username</ion-label>
  <ion-input placeholder="Enter name" formControlName="username"></ion-input>
  <ion-item *ngIf="!formlogin.controls.username.valid  && (formlogin.controls.username.valid || submitAttempt)">
    <p>Please enter a valid name.</p>
  </ion-item>
        </form>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-item>
</ion-item>

<ion-item>
  <ion-button color="primary" fill="outline"(click)="doLogin()">Login</ion-button>
</ion-item>
